<script>
    const socket = io();
</script>
<divclass="row">
    <divclass="col">
        <buttonclass="btn btn-primary"id="enviar-oi">Enviar um oi!</button>
    </div>
</div>
<divclass="row">
    <divclass="col">
        <div id= "ois-recebidos"></div>
    </div>
</div>