
#sobre img {
    margin: 0 auto;
    display: block;
    width: 50%;
    left: 90px; /* posiciona a 90px para a esquerda */ 
	top: 70px; /* posiciona a 70px para baixo */
}
#header {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


#footer {
    position: relative;
    margin: 5em 0;
        margin-top: 5em;
        margin-right: 0px;
        margin-bottom: 5em;
        margin-left: 0px;
}

#footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}