<div id="chess" class="container clearfix">
    <div class="chess-board">
        <div id="board"></div>
        <div class="opponents">
            Aguardando oponente.
        </div>
        <div id="status"></div>
    </div>
    <div class="chat">
        <div id="chat-history">
            <ul id="messages">

                <li class="right-message white-message clearfix">
                    <div class="message-data">
                        <span class="message-piece"><i class="fas fa-chess-king"></i></span>
                        <span class="message-data-name">Leide Marina Da Silva Ferreira</span>
                        <span class="message-data-time">12/12/2019 19:07:43</span>
                    </div>
                    <div class="message">
                        Boa sorte ao meu oponente!
                    </div>
                </li>
                <li class="left-message black-message clearfix">
                    <div class="message-data">
                        <span class="message-piece"><i class="fas fa-chess-king"></i></span>
                        <span class="message-data-name">Jogador a ser definido</span>
                        <span class="message-data-time">12/12/2019 19:07:43</span>
                    </div>
                    <div class="message">
                        Boa sorte ao meu oponente!
                    </div>
                </li>
            </ul>

        </div>

        <div class="chat-message clearfix">
            <textarea name="message-to-send" id="message-to-send" placeholder="Escreva sua mensagem"
                rows="3"></textarea>
            <button id="enviar">Enviar</button>
        </div>

    </div>

</div>