<div class="container">
  <div style="margin: auto">
    <div class="col">
       <div id = "titulo"> 
        <p class="lead"> Clique em "Entrar" para começar a jogar</p>
         <p>obs:Primeiro jogador começa com as peças brancas</p>
       </div>      
       <button id="button" class="btn btn-success" onclick="connect()">Entrar</button>
    </div>
    <div id="board" style="width: 500px; margin: auto"></div>
    <div id="status" style="width: 500px; margin: auto">Bem-vindo, vez do jogador Branco.</div>
  </div>
</div>

<script>
  var game = new Chess();
  const socket = io();
  const color = 'w';
  const fen = 'start';
  const botao = document.getElementById('button');
   const titulo = document.getElementById('titulo');

  game.load(fen); // fen é a posição das peças no tabuleiro

  var salaId = 1;
  var players; //quantidade de jogadores on
  var play = true;

  // -----------socket  cliente ------->  
  function connect() {
    botao.remove(); //remover o botao da view
    titulo.remove();
    socket.emit('joined', salaId); //enviar pro servidor
  }

  socket.on('full', (msg) => {//caso um terceiro queira entrar
    console.log("Sala Cheia");
  });

  socket.on('play', () => {
      play = true;
  });

  socket.on('move', (msg) => {
    game.move(msg.move);
    board.position(game.fen());
  });
  // --------------------------- /socket ------->
  var removeGreySquares = function () {
    $('#board .square-55d63').css('background', '');
  };

  var greySquare = function (square) {
    var squareEl = $('#board .square-' + square);
    var background = '#a9a9a9';
    if (squareEl.hasClass('black-3c85d') === true) {
      background = '#696969';
    }
    squareEl.css('background', background);
  };

  var onDragStart = function (source, piece) {
    // nao permitir o movimento de peças em caso de game over
    if (game.game_over()) return false;

    if (play) {
      // permitir apenas o movimento de peças de sua própria cor
      if ((color === 'w' && piece.search(/^b/) !== -1) ||
        (color === 'b' && piece.search(/^w/) !== -1)) {
        return false
      }

      // o jogador só pode mover peças caso seja sua vez de jogar
      if((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
        (game.turn() === 'b' && piece.search(/^w/) !== -1) ||
        (game.turn() === 'w' && color === 'black') ||
        (game.turn() === 'b' && color === 'white')) {
        return false;
      }
    }
  };

  var onDrop = function (source, target) {
    removeGreySquares();
    var move = game.move({
      from: source,
      to: target,
      promotion: 'q'
    });

    if (game.game_over()) {
      status.innerHTML = 'GAME OVER';
      socket.emit('gameOver', salaId);
    }

    if (move === null) {  // movimento ilegal, vamos retroceder a peça para a posição original

      return 'snapback';
    } else {
      socket.emit('move', {
        move: move, board: game.fen(), sala: salaId
      });
    }
    updateStatus();
  };

  var onMouseoverSquare = function (square, piece) {
    // pegar lista de possiveis movimentos
    var moves = game.moves({
      square: square,
      verbose: true
    });

    if (moves.length === 0) return;

    greySquare(square);

    // highlight the possible squares for this piece
    for (var i = 0; i < moves.length; i++) {
      greySquare(moves[i].to);
    }
  };

  var onMouseoutSquare = function (square, piece) {
    removeGreySquares();
  };

  var onSnapEnd = function () {
    board.position(game.fen());
  };

  function updateStatus() {
    var status = ''

    var moveColor = '<b>branco</b>'
    if (game.turn() === 'b') {
      moveColor = '<b>preto</b>'
    }

    // checkmate?
    if (game.in_checkmate()) {
      status = 'É xeque-mate! Vitória do jogador ' + moveColor + '!'
    }

    // empate? (draw)
    else if (game.in_draw()) {
      status = 'O jogo empatou!'
    }

    // o jogo continua
    else {
      status = 'A vez é do jogador ' + moveColor + '.'

      // check?
      if (game.in_check()) {
        status += ', o jogador ' + moveColor + ' está em xeque.'
      }
    }

    document.getElementById('status').innerHTML = status;
  }

  socket.on('player', (playId, players, color) => {
    console.log("Cliente : socket player");
    players = players;
    color = color;

    if (players == 2) {
      play = false;
      socket.emit('play');
      status.innerHTML = "Game in Progress";
      console.log("Game in progress");
    } else {
      console.log("Esperando segundo jogador");
    }
    var cfg = {
      orientation: color,
      draggable: true,
      position: fen,
      onDragStart: onDragStart,
      onDrop: onDrop,
      moveSpeed: 'slow',
      pieceTheme: '/img/chesspieces/wikipedia/{piece}.png',
      onMouseoutSquare: onMouseoutSquare,
      onMouseoverSquare: onMouseoverSquare,
      onSnapEnd: onSnapEnd
    };
    board = Chessboard('board', cfg);
  });
  var board;
</script>